@model DoctorDetailsViewModel
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewBag.Title = Model.FullName;
}

<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-md-9 col-lg-7 col-xl-5">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <div class="d-flex text-black">
                            <div class="flex-shrink-0">
                                @{
                                    byte[] image = Model.Image ?? ViewBag.Image;
                                    var base64 = Convert.ToBase64String(image);
                                    var Image = String.Format("data:image/gif;base64,{0}", base64);
                                }
                                <img src="@Image" alt="Doctor's image'" class="img-fluid photo" style="width: 180px; border-radius: 10px;">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5 class="mb-2">@Model.FullName</h5>
                                <p class="mb-1" style="color: #2b2a2a;">@Model.Specialty</p>
                                <p class="mb-1" style="color: #2b2a2a;">@Model.Hospital</p>
                                <a class="mb-1" href="mailto:@Model.Email" style="text-decoration: none;">@Model.Email</a>
                                <a class="mb-1" href="tel:@Model.Phone" style="text-decoration: none;">@Model.Phone</a>
                                <p class="mb-1" style="color: #2b2a2a;">@SharedLocalizer["Rating"]: @Model.Rating</p>
                                <div class="rating-group">
                                        <input class="rating-input rating-input-none" name="rating" id="rating-none" value="0" type="radio">
                                        <label aria-label="No rating" class="rating-label" for="rating-none">
                                            <i class="rating-icon rating-icon-none fa fa-ban"></i>
                                        </label>

                                        <label aria-label="1 star" class="rating-label" for="rating-1">
                                            <i class="rating-icon rating-icon-star fa fa-star"></i>
                                        </label>
                                        <input class="rating-input" name="rating" id="rating-1" value="1" type="radio">

                                        <label aria-label="2 stars" class="rating-label" for="rating-2">
                                            <i class="rating-icon rating-icon-star fa fa-star"></i>
                                        </label>
                                        <input class="rating-input" name="rating" id="rating-2" value="2" type="radio">

                                        <label aria-label="3 stars" class="rating-label" for="rating-3">
                                            <i class="rating-icon rating-icon-star fa fa-star"></i>
                                        </label>
                                        <input class="rating-input" name="rating" id="rating-3" value="3" type="radio">

                                        <label aria-label="4 stars" class="rating-label" for="rating-4">
                                            <i class="rating-icon rating-icon-star fa fa-star"></i>
                                        </label>
                                        <input class="rating-input" name="rating" id="rating-4" value="4" type="radio">

                                        <label aria-label="5 stars" class="rating-label" for="rating-5">
                                            <i class="rating-icon rating-icon-star fa fa-star"></i>
                                        </label>
                                        <input class="rating-input" name="rating" id="rating-5" value="5" type="radio">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="schedule" class="carousel slide" data-bs-ride="carousel" data-interval="false" data-wrap="false" data-pause="true">
        <div class="carousel-inner" id="carouselInner">
        </div>      
    
        <button class="carousel-control-prev hidden" type="button" data-bs-target="#schedule" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#schedule" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</section>

@section scripts {
    <script>
        var date = new Date();

        function loadWeek() {
            $.ajax({
                url: '@Url.Action("Schedule", "Doctors")',
                dataType: "html",
                data: { "id": "@Model.Id", "date": date.toISOString() },
                type: "GET",
                contentType: "application/json",
                success: function (response) {
                    $('.carousel-item').removeClass('active');
                    $('.carousel-item').removeClass('last');
                    $('#carouselInner').append(response);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        }

        $('.carousel-control-next').click(function (e) {
            if ($('.active').hasClass('last')) {
                date.setHours(0, 0, 0, 0);
                date.setDate(date.getDate() + 7);
                loadWeek();
            }
            else
            {
                var next = $('.active').next();
                $('.carousel-item').removeClass('active');
                next.addClass('active');
            }
        });

        $('.carousel-control-prev').click(function (e) {
            var previous = $('.active').prev();

            if (previous.hasClass('carousel-item')) {
                $('.carousel-item').removeClass('active');
                previous.addClass('active');
            }
        });

        $('#schedule').on('slide.bs.carousel', function(e) {
            e.preventDefault();
        });

        $(document).ready(function() {
            loadWeek();
        });
    </script>
}