@model DoctorsViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewBag.Title = Localizer["Title"];
    int cols = 3;
    int total = Model.Doctors.Count();
    int counter = 1;
}

<form method="get" asp-controller="Doctors" asp-action="Search">
    <div class="mb-3 mt-3">
        <label>@SharedLocalizer["Search"]: </label>
        <input name="searchString" value="@Model.FilterModel.SearchString" class="search-input" />
        <span class="input-group-btn input-space"><label>@SharedLocalizer["Specialty"]</label></span>
        <span class="input-group-btn input-space">
            <select name="specialty" 
                asp-items="@(new SelectList(
                            Model.FilterModel.Specialties, 
                            "SpecialtyId", 
                            "SpecialtyName",  
                            Model.FilterModel.SelectedSpecialty))">
            </select>
        </span>
        <span class="input-group-btn input-space">
            <select name="hospital" 
                asp-items="@(new SelectList(
                            Model.FilterModel.Hospitals, 
                            "HospitalId", 
                            "HospitalName", 
                            Model.FilterModel.SelectedHospital))">
            </select>
        </span>
        <span class="input-group-btn input-space"><label>@SharedLocalizer["Locality"]</label></span>
        <span class="input-group-btn input-space">
            <select name="locality" 
                asp-items="@(new SelectList(
                            Model.FilterModel.Localities, 
                            "LocalityId", 
                            "LocalityName", 
                            Model.FilterModel.SelectedLocality))">
            </select>
        </span>
    </div>
    <div class="mb-3">
        <span class="input-group-btn input">
            <button type="submit" class="btn btn-success btn-sm">@SharedLocalizer["Search"]</button>
        </span>
        <span class="input-group-btn input-space">
            <a asp-controller="Doctors" asp-action="Search" class="btn btn-info btn-sm">@SharedLocalizer["ClearFilters"]</a>
        </span>
    </div>
</form>

<div class="container">
    @foreach (var doctor in Model.Doctors)
    {
        if (counter % cols == 1)
        {
            @:<div class="row mb-3" >
        }
        <div class="col-sm-4 mx-auto">
            <div class="card" style="width:300px;">
                @{
                    byte[] image = doctor.Image ?? ViewBag.Image;
                    var base64 = Convert.ToBase64String(image);
                    var Image = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src="@Image" class="card-img-top photo" alt="@SharedLocalizer["Doctor"] @counter">
                <div class="card-body text-center">
                    <h4 class="card-title">@doctor.ToString()</h4>
                    <p class="card-text">@doctor.Specialty</p>
                    <p class="card-text">@doctor.Hospital</p>
                    <a asp-controller="Doctors" asp-action="Details" asp-route-id="@doctor.Id" class="btn btn-primary">
                        @Localizer["MakeAppointment"]
                    </a>
                </div>
                <input asp-for="@doctor.Id" type="hidden" />
            </div>
        </div>    

        if ((counter % cols == 0) || ((counter) == total))
        {
            @:</div>
        }
        counter++;
    }
</div>

<page-link page-model="@(Model.PageModel)" page-action="Search"
page-url-specialty="@(Model.FilterModel.SelectedSpecialty)"
page-url-hospital="@(Model.FilterModel.SelectedHospital)"
page-url-locality="@(Model.FilterModel.SelectedLocality)"
page-url-searchString="@(Model.FilterModel.SearchString)"
page-url-sortOrder="@(Model.SortModel.Current)"></page-link>