@using Newtonsoft.Json
@inject IViewLocalizer Localizer
@model AppointmentsViewModel
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewBag.Title = SharedLocalizer["Statistics"];
    var appointments = JsonConvert.SerializeObject(Model.Appointments);
}

<h1 class="mb-5">@SharedLocalizer["Statistics"]</h1>
<form method="get">
    <div class="mb-5">
        <span class="input-group-btn input-space"><label>@SharedLocalizer["From"]:</label></span>
        <span class="input-group-btn input-space">
            <input type="date" name="fromDate"/>
        </span>
        <span class="input-group-btn input-space"><label>@SharedLocalizer["To"]:</label></span>
        <span class="input-group-btn input-space">
            <input type="date" name="toDate"/>
        </span>
        <span class="input-group-btn input-space"><label>@SharedLocalizer["Locality"]</label></span>
        <span class="input-group-btn input-space">
            <select name="locality" 
                asp-items="@(new SelectList(
                            Model.FilterModel.Localities, 
                            "LocalityId", 
                            "LocalityName", 
                            Model.FilterModel.SelectedLocality))">
            </select>
        </span>
        <span class="input-group-btn input-space"><button type="submit" class="btn btn-success btn-sm">@SharedLocalizer["Search"]</button></span>
        <span class="input-group-btn input-space"><a asp-action="Index" asp-controller="Statistics"> @SharedLocalizer["ClearFilters"]</a></span>
    </div>
</form>

<div class="container">
    <div class="row">
        <div class="col-sm-6 text-center" id="attendance-stat">
        </div>

        <div class="col-sm-6" id="diagnosis-stat">

        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" id="hospital-stat">

        </div>

        <div class="col-sm-6" id="specialty-stat">

        </div>
    </div>
</div>

@section scripts {
    <script>
        function plotAttendance(dates, counts) {
            let div = document.getElementById('attendance-stat');

            let data = [{
                x: dates,
                y: counts
            }];

            let layout = {
                title: {
                    text: '@Localizer["Attendance"]'
                },
                xaxis: {
                    title: {
                        text: '@Localizer["AttendanceX"]'
                    }
                },
                yaxis: {
                    title: {
                        text: '@Localizer["AttendanceY"]'
                    }
                }
            };

            Plotly.newPlot(div, data, layout);
        }

        $(document).ready(function() {
            var appointments = @Html.Raw(@appointments);

            $.ajax({
                type: "POST",
                url: '@Url.Action("Attendance")',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(appointments),
                success: function(model) {
                    let dates = model.map((m) => m.visitDate);
                    let counts = model.map((m) => m.visitsCount);

                    plotAttendance(dates, counts);
                },
                error: function(err) {
                    console.log(err);
                }
            })
        });

        function plotDiagnosis(labels, values) {
            let div = document.getElementById('diagnosis-stat');

            let data = [{
                x: labels,
                y: values,
                type: 'bar'
            }];

            let layout = {
                title: {
                    text: '@Localizer["Diagnosis"]'
                }
            };

            Plotly.newPlot(div, data, layout);
        }

        $(document).ready(function() {
            var appointments = @Html.Raw(@appointments);

            $.ajax({
                type: "POST",
                url: '@Url.Action("Diagnosis")',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(appointments),
                success: function(model) {
                    let values = model.map((m) => m.count);
                    let labels = model.map((m) => m.label);

                    plotDiagnosis(labels, values);
                },
                error: function(err) {
                    console.log(err);
                }
            })
        });

         function plotHospital(labels, values) {
            let div = document.getElementById('hospital-stat');

            let data = [{
                x: values,
                y: labels,
                type: 'bar',
                orientation: 'h',
                marker: {
                    color: 'rgb(46, 139, 87)'
                }
            }];

            let layout = {
                title: {
                    text: '@Localizer["Hospital"]'
                },
                xaxis: {
                    title: {
                        text: '@Localizer["HospitalX"]'
                    }
                }
            };

            Plotly.newPlot(div, data, layout);
        }

        $(document).ready(function() {
            var appointments = @Html.Raw(@appointments);

            $.ajax({
                type: "POST",
                url: '@Url.Action("Hospital")',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(appointments),
                success: function(model) {
                    let values = model.map((m) => m.count);
                    let labels = model.map((m) => m.label);

                    plotHospital(labels, values);
                },
                error: function(err) {
                    console.log(err);
                }
            })
        });

        function plotSpecialty(labels, values) {
            let div = document.getElementById('specialty-stat');

            let data = [{
                values: values,
                labels: labels,
                type: 'pie'
            }];

            let layout = {
                title: {
                    text: '@Localizer["Specialty"]'
                }
            };

            Plotly.newPlot(div, data, layout);
        }

        $(document).ready(function() {
            var appointments = @Html.Raw(@appointments);

            $.ajax({
                type: "POST",
                url: '@Url.Action("Specialty")',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(appointments),
                success: function(model) {
                    let values = model.map((m) => m.count);
                    let labels = model.map((m) => m.label);

                    plotSpecialty(labels, values);
                },
                error: function(err) {
                    console.log(err);
                }
            })
        });
    </script>
}