@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.FindByEmailAsync(User.Identity.Name);
    var name = user.Name;

    <li class="nav-item">
        <a class="nav-link" asp-controller="Manage" asp-action="Profile" title="Manage">@SharedLocalizer["Hello"], @name</a>
    </li>
    <li class="nav-item"> 
        <form  class="form-inline" asp-controller="Account" asp-action="Logout">
            <button  type="submit" class="nav-link btn btn-link">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                @SharedLocalizer["Logout"]
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">
            <i class="fa-solid fa-user"></i>
            @SharedLocalizer["Register"]
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            @SharedLocalizer["Login"]
        </a>
    </li>
}