@{
    ViewBag.Title = "Doctors";
}
@model DoctorsViewModel

<h1>Doctors list</h1>
<p>
    <a asp-controller="Manage" asp-action="CreateDoctor">Create New</a>
</p>
<form method="get">
    <div class="mb-3">
        <label>Search: </label>
        <input name="searchString" value="@Model.FilterModel.SearchString" class="search-input" />
        <span class="input-group-btn input-space"><label>Specialty</label></span>
        <span class="input-group-btn input-space">
            <select name="specialty" 
                asp-items="@(new SelectList(
                            Model.FilterModel.Specialties, 
                            "SpecialtyId", 
                            "SpecialtyName", 
                            Model.FilterModel.SelectedSpecialty))">
            </select>
        </span>
        <span class="input-group-btn input-space"><button type="submit" class="btn btn-success btn-sm">Search</button></span>
        <span class="input-group-btn input-space"><a asp-action="Admins"> Back to Full List</a></span>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Doctors"
                   asp-route-sortOrder="@(Model.SortModel.NameSort)"
                   asp-route-searchString="@(Model.FilterModel.SearchString)">
                   Name
                </a>
            </th>
            <th>
                <a asp-action="Doctors"
                   asp-route-sortOrder="@(Model.SortModel.SurnameSort)"
                   asp-route-searchString="@(Model.FilterModel.SearchString)">
                   Surname
                </a>
            </th>
            <th>
                <a asp-action="Doctors"
                   asp-route-sortOrder="@(Model.SortModel.EmailSort)"
                   asp-route-searchString="@(Model.FilterModel.SearchString)">
                   Email
                </a>
            </th>
            <th>
                <a asp-action="Doctors"
                   asp-route-sortOrder="@(Model.SortModel.PhoneSort)"
                   asp-route-searchString="@(Model.FilterModel.SearchString)">
                   Phone
                </a>
            </th>
            <th>
                <a asp-action="Doctors"
                   asp-route-sortOrder="@(Model.SortModel.SpecialtySort)"
                   asp-route-searchString="@(Model.FilterModel.SearchString)">
                   Specialty
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody> 
        @foreach(var doctor in Model.Doctors)
        {
            <tr>
                <td>
                    @doctor.Name
                </td>
                <td>
                    @doctor.Surname
                </td>
                <td>
                    @doctor.Email
                </td>
                <td>
                    @doctor.PhoneNumber
                </td>
                <td>
                    @doctor.Specialty.SpecialtyName
                </td>
                <td>
                    <span>
                        <a asp-action="EditDoctor" asp-route-id="@doctor.Id">Edit</a> |
                        <a asp-action="DeleteDoctor" asp-route-id="@doctor.Id">Delete</a>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<page-link page-model="@(Model.PageModel)" page-action="Doctors"
page-url-specialty="@(Model.FilterModel.SelectedSpecialty)"
page-url-searchString="@(Model.FilterModel.SearchString)"
page-url-sortOrder="@(Model.SortModel.Current)"></page-link>