@model DoctorProfileViewModel
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewBag.Title = SharedLocalizer["Profile"];
}

<div class="container rounded bg-white">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center">
                @{
                    byte[] image = Model.Image ?? ViewBag.Image;
                    var base64 = Convert.ToBase64String(image);
                    var Image = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src="@Image" class="rounded-circle mt-5 photo" alt="you">
                <span class="font-weight-bold">@Model.Name</span>
                <span class="text-black-50">@Model.Email</span>
                <span class="text-black-50">@Model.Specialty</span>
                <span><a asp-controller="Manage" asp-action="ChangePassword">@SharedLocalizer["ChangePassword"]</a></span>
                <div class="mt-2">
                    <form method="post" asp-controller="Manage" asp-action="UploadPhoto" enctype="multipart/form-data"> 
                        <input type="file" name="file" id="uploader" style="display: none;" />
                        <input type="button" value="@SharedLocalizer["UploadPhoto"]" id="activator" class="btn btn-info btn-sm"/>
                    </form>              
                </div>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5 d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">@SharedLocalizer["Settings"]</h4>
                </div>
                <form method="post" asp-controller="Manage" asp-action="DoctorProfile">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @Html.HiddenFor(m => m.Image)
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels" asp-for="Name"></label>
                            <input type="text" class="form-control" asp-for="Name">
                        </div>
                        <div class="col-md-6">
                            <label class="labels" asp-for="Surname"></label>
                            <input type="text" class="form-control" asp-for="Surname">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels" asp-for="Email"></label>
                            <input type="email" class="form-control" asp-for="Email">
                        </div>
                        <div class="col-md-12">
                            <label class="labels" asp-for="Phone"></label>
                            <input type="text" class="form-control" asp-for="Phone">
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button align-self-end" type="submit">@SharedLocalizer["Update"]</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div>
                    <div class="row">
                        <h5>@SharedLocalizer["Notifications"]</h5>
                    </div>
                    <div id="notifications-profile">
                        @foreach (var notification in Model.Notifications.Notifications)
                        {
                            <div class="row">
                                <div id="alert-@notification.NotificationId" class="alert mb-1 p-1 alert-@(notification.Type.ToString().ToLower())" 
                                onclick="read(@notification.NotificationId)">
                                    <h6 class="alert-heading">@notification.Topic</h6>
                                    <p class="m-0">@notification.Message</p>
                                </div>
                            </div>
                        }
                        </div>

                    <div class="row">
                        <page-link page-model="@(Model.Notifications.PageModel)" page-action="DoctorProfile"></page-link>
                    </div>
                </div><br>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function read(id) {
            try {
                $.ajax({
                    url: '@Url.Action("ReadNotification", "Manage")',
                    data: { "id": id.toString() },
                    contentType: "application/json",
                    success: function (response) {
                        let div = document.getElementById('alert-' + id);
                        console.log(div);
                        div.classList.remove('alert-success');
                        div.classList.remove('alert-danger');
                        div.classList.remove('alert-primary');
                        div.classList.add('alert-secondary');
                    },
                    error: function (err) {
                        console.log(err.responseText);
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
    </script>
}
