@model Enable2faViewModel
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["Title"];
}

<h4>@Localizer["Title"]</h4>
<div>
    <p>@Localizer["Caption"]</p>
    <ol class="list">
        <li>
            <p>
                @Localizer["DownloadApp"] Microsoft Authenticator @Localizer["For"]
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> @Localizer["And"]
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> @Localizer["Or"]
                Google Authenticator @Localizer["For"]
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> @Localizer["And"]
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>@Localizer["Scan"] <kbd>@Model.SharedKey</kbd>.</p>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
        </li>
        <li>
            <p class="mt-3">
                @Localizer["Explanation"]
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Code" class="control-label">Verification Code</label>
                            <input asp-for="Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-info mt-3">Verify</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>
@section scripts {
    <script>
        new QRCode(document.getElementById("qrCode"),
        {
            text: "@Html.Raw(Model.AuthenticatorUri)",
            width: 200,
            height: 200
        });
    </script>
}