@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn btn-sea-green nav-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-users"></i>
                    @SharedLocalizer["Administration"]
                </button>
                <ul class="dropdown-menu bg-sea-green">
                    <li>
                        <a class="nav-link bg-sea-green" asp-controller="Administration" asp-action="Admins">
                            <i class="fa-solid fa-hammer"></i>
                            @SharedLocalizer["Admins"]
                        </a>
                    </li>
                    <li>
                        <a class="nav-link bg-sea-green" asp-controller="Administration" asp-action="Doctors">
                            <i class="fa-solid fa-stethoscope"></i>
                            @SharedLocalizer["Doctors"]
                        </a>
                    </li>
                    <li>
                        <a class="nav-link bg-sea-green" asp-controller="Administration" asp-action="Patients">
                            <i class="fa-solid fa-hospital-user"></i>
                            @SharedLocalizer["Patients"]
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    }
    else if (User.IsInRole("Doctor"))
    {
        <li class="nav-item">
            <a class="nav-link bg-sea-green" asp-controller="Appointments" asp-action="Today">
                <i class="fa-solid fa-calendar-check"></i>
                @SharedLocalizer["Appointments"]
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-sea-green" asp-controller="Appointments" asp-action="History">
                <i class="fa-solid fa-clock-rotate-left"></i>
                @SharedLocalizer["History"]
            </a>
        </li>
    }
    else if (User.IsInRole("Patient"))
    {
        <li class="nav-item">
            <a class="nav-link bg-sea-green" asp-controller="Hospitals" asp-action="Search">
                <i class="fa-solid fa-hospital"></i>
                @SharedLocalizer["SearchHospitals"]
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-sea-green" asp-controller="Doctors" asp-action="Search">
                <i class="fa-solid fa-magnifying-glass"></i>
                @SharedLocalizer["SearchDoctors"]
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-sea-green" asp-controller="Treatment" asp-action="History">
                <i class="fa-solid fa-file-medical"></i>
                @SharedLocalizer["Treatment"]
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link" asp-controller="Stats" asp-action="Index">
            <i class="fa-solid fa-chart-simple"></i>
           @SharedLocalizer["Statistics"]
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Manage" asp-action="Profile">
            <i class="fa-solid fa-user"></i>
           @SharedLocalizer["Profile"]
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link bg-sea-green" asp-controller="Hospitals" asp-action="Search">
            <i class="fa-solid fa-hospital"></i>
            @SharedLocalizer["SearchHospitals"]
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link bg-sea-green" asp-controller="Doctors" asp-action="Search">
            <i class="fa-solid fa-magnifying-glass"></i>
            @SharedLocalizer["SearchDoctors"]
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Stats" asp-action="Index">
            <i class="fa-solid fa-chart-simple"></i>
            @SharedLocalizer["Statistics"]
        </a>
    </li>
}