@model DoctorSlotViewModel
@{
    ViewBag.Title = "Edit doctor's schedule";
    ViewBag.RouteId = Model.DoctorId;
}

<form method="post" asp-controller="Administration" asp-action="EditDoctorSchedule">
    <h2>Manage doctor schedule</h2>
    @Html.HiddenFor(m => m.DoctorId)
    @Html.HiddenFor(m => m.ScheduleId)
    <h5>Doctor @Model.DoctorFullName</h5>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <br/>

    <div class="row mb-3">
        <label asp-for="DayOfWeek" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="DayOfWeek" id="daySelect">
                @foreach (var day in (Enum.GetNames(typeof(DayOfWeek))))
                {
                    if (day == Model.DayOfWeek)
                    {
                        <option selected>@day</option>
                    }
                    else
                    {
                        <option>@day</option>
                    }
                }
            </select>
        </div>
    </div>

   <div class="row mb-3">
        <label asp-for="StartTime" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input type="time" min="08:00" max="18:00" asp-for="StartTime" value="@Model.StartTime.ToString("HH:mm")" class="input-validation-error"/>
        </div>
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="EndTime" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input type="time" min="08:00" max="18:00" asp-for="EndTime" value="@Model.EndTime.ToString("HH:mm")" class="input-validation-error"/>
        </div>
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <button type="submit" formaction="@Url.Action("DeleteDoctorSchedule")" formmethod="post" class="btn btn-danger">Delete</button>
</form>

@section scripts {
    <script>
        $('#daySelect').change(function(){
            var id = "@ViewBag.RouteId";
            var day = $(this).val();
            var url = '@Url.Action("DoctorSchedule", "Administration")' + `/${id}?day=${day}`;
            window.location.replace(url);
        });
    </script>
}