@model LoginViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewBag.Title = Localizer["Title"];
    Layout = "_AccountLayout";
}

<div class="row mt-5">
    <div class="col-lg-4 bg-white m-auto">
        <h2 class="text-center pt-3">@Localizer["Title"]</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
        <div class="text-center mb-3">
            <a asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
        </div>

        <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl" asp-antiforgery="true">
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <input type="text" asp-for="Email" class="form-control input-validation-error" placeholder="@SharedLocalizer["Email"]"/>                
                </div>
                <span asp-validation-for="Email" class="validator text-danger"></span>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" asp-for="Password" class="form-control input-validation-error" placeholder="@SharedLocalizer["Password"]"/>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <input type="checkbox" asp-for="RememberMe"/>
                    <label asp-for="RememberMe">@SharedLocalizer["RememberMe"]</label>
                </div>
            </div>

            <div class="d-grid mb-2">
                <button type="submit" class="btn btn-success">@Localizer["Title"]</button>
            </div>
        </form>
        <div class="text-center mb-3">
            <a asp-controller="Account" asp-action="ForgotPassword">@SharedLocalizer["ForgotPassword"]</a>
        </div>
        <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@ViewBag.ReturnUrl">
            <div class="text-center">
                @Localizer["ExternalLogin"]         
            </div>
            <div class="text-center mb-3">
                <span>
                    @foreach (var provider in ViewBag.ExternalLogins)
                    {   
                        <button type="submit" name="provider" value="@provider.Name" class="btn-icon">
                            <i class="fa-brands fa-@provider.Name.ToLower()"></i>
                        </button>
                    }
                </span>    
            </div>
        </form>
    </div>
 </div>