@model AppointmentsViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewBag.Title = Localizer["Title"];
}

<h1 class="mb-5">@Localizer["Title"]</h1>
<form method="get">
    <div class="mb-4">
        <span class="input-group-btn"><label>@SharedLocalizer["Visits"]</label></span>
        <span class="input-group-btn input-space">
            <select name="state" 
                asp-items="@(new SelectList(
                            Model.FilterModel.States, 
                            "Value", 
                            "Name", 
                            Model.FilterModel.SelectedState))">
            </select>
        </span>
    </div>
    <div class="mb-2">
        <span class="input-group-btn"><button type="submit" class="btn btn-success btn-sm">@SharedLocalizer["Search"]</button></span>
        <span class="input-group-btn input-space"><a asp-action="Today"> @SharedLocalizer["ClearFilters"]</a></span>
    </div>
    @if (ViewBag.Calendar != null)
    {
        <div class="mb-2">
            <a href="@ViewBag.Calendar" target="_blank">
                @SharedLocalizer["Calendar"]
            </a>
        </div>
    }
</form>

<div class="container h-100">
    @foreach (var appointment in Model.Appointments)
    {
        <div class="row d-flex justify-content-center align-items-center h-100 mb-1">
            <div class="col col-9">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <div class="d-flex text-black">
                            <div class="flex-shrink-0 text-center">
                                @{
                                    byte[] image = appointment.PatientImage ?? ViewBag.Image;
                                    var base64 = Convert.ToBase64String(image);
                                    var Image = String.Format("data:image/gif;base64,{0}", base64);
                                }
                                <img src="@Image" alt="Patient image" class="img-fluid photo">
                                @if (appointment.State == "Completed")
                                {
                                    <div class="mb-1">
                                        <a asp-controller="Appointments" asp-action="Details" asp-route-id="@appointment.AppointmentId" 
                                        class="btn btn-primary btn-230 flex-grow-1">@SharedLocalizer["Details"]</a>
                                    </div>
                                }
                                @if (appointment.State == "Planned")
                                {
                                    if (appointment.Price == 0)
                                    {
                                        <div class="mb-1">
                                            <a asp-controller="Appointments" asp-action="Fill" asp-route-id="@appointment.AppointmentId" 
                                            class="btn btn-primary btn-230 flex-grow-1">@SharedLocalizer["Fill"]</a>
                                        </div>
                                        <div class="mb-1">
                                            <a asp-controller="Appointments" asp-action="Cancel" asp-route-id="@appointment.AppointmentId" 
                                            onclick="notifyCancel('@appointment.PatientId', '@SharedLocalizer["CancelTopic"]', '@SharedLocalizer["YourAppointment"] @appointment.AppointmentDate.ToString("MM/dd/yyyy HH:mm") @SharedLocalizer["CancelMessage"]');"
                                            class="btn btn-danger btn-230 flex-grow-1">@SharedLocalizer["Cancel"]</a>
                                        </div>
                                        <div class="mb-1">
                                            <a href="@appointment.MeetingStartLink" target="_blank">@SharedLocalizer["Join"]</a>
                                        </div>
                                    }
                                    else
                                    {
                                        if (appointment.IsPaid)
                                        {
                                            <div class="mb-1">
                                                <a asp-controller="Appointments" asp-action="Fill" asp-route-id="@appointment.AppointmentId" 
                                                class="btn btn-primary btn-230 flex-grow-1">@SharedLocalizer["Fill"]</a>
                                            </div>
                                        }
                                        <div class="mb-1">
                                            <a asp-controller="Appointments" asp-action="Cancel" asp-route-id="@appointment.AppointmentId" 
                                            onclick="notifyCancel('@appointment.PatientId', '@SharedLocalizer["CancelTopic"]', '@SharedLocalizer["YourAppointment"] @appointment.AppointmentDate.ToString("MM/dd/yyyy HH:mm") @SharedLocalizer["CancelMessage"]');"
                                            class="btn btn-danger btn-230 flex-grow-1">@SharedLocalizer["Cancel"]</a>
                                        </div>
                                        if (appointment.IsPaid)
                                        {
                                            <div class="mb-1">
                                                <a href="@appointment.MeetingStartLink" target="_blank">@SharedLocalizer["Join"]</a>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5 class="mb-1">@appointment.Patient</h5>
                                <p class="mb-2 pb-1" style="color: #2b2a2a;">@appointment.PatientSex</p>
                                <p class="mb-2 pb-1" style="color: #2b2a2a;">@appointment.PatientBirthDate</p>
                                <div class="d-flex justify-content-start rounded-3 p-2 mb-2" style="background-color: #efefef;">
                                    <div>
                                        <h6>@SharedLocalizer["Details"]</h6>
                                        <p class="small text-muted mb-1">@SharedLocalizer["State"]</p>
                                        <p class="mb-0">@appointment.State</p>
                                        <p class="small text-muted mb-1">@SharedLocalizer["Date"]</p>
                                        <p class="mb-0">@appointment.AppointmentDate.ToShortDateString()</p>
                                        <p class="small text-muted mb-1">@SharedLocalizer["Time"]</p>
                                        <p class="mb-0">@appointment.AppointmentDate.ToString("HH:mm")</p>
                                        @if (appointment.Price != 0 && !appointment.IsPaid)
                                        {
                                            <p class="text-danger mb-0">@SharedLocalizer["Unpaid"]</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<page-link page-model="@(Model.PageModel)" page-action="Today"
page-url-state="@(Model.FilterModel.SelectedState)"
page-url-searchString="@(Model.FilterModel.SearchString)"
page-url-sortOrder="@(Model.SortModel.Current)"></page-link>