@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="card mx-auto h-100" style="width:250px;">
                <img src="./files/images/admin.png" class="card-img-top photo mt-1" alt="Admins">
                <div class="card-body text-center d-flex flex-column">
                    <h4 class="card-title">@SharedLocalizer["ManageAdmins"]</h4>
                    <a asp-controller="Administration" asp-action="Admins" class="btn btn-primary mt-auto">@SharedLocalizer["Manage"]</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width:250px;">
                <img src="./files/images/doctor.png" class="card-img-top photo mt-1" alt="Doctors">
                <div class="card-body text-center d-flex flex-column">
                    <h4 class="card-title">@SharedLocalizer["ManageDoctors"]</h4>
                    <a asp-controller="Administration" asp-action="Doctors" class="btn btn-primary mt-auto">@SharedLocalizer["Manage"]</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width:250px;">
                <img src="./files/images/patient.jpg" class="card-img-top photo mt-1" alt="Patients">
                <div class="card-body text-center d-flex flex-column">
                    <h4 class="card-title">@SharedLocalizer["ManagePatients"]</h4>
                    <a asp-controller="Administration" asp-action="Patients" class="btn btn-primary mt-auto">@SharedLocalizer["Manage"]</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width:250px;">
                <img src="./files/images/hospital.png" class="card-img-top photo mt-1" alt="Statistics">
                <div class="card-body text-center d-flex flex-column">
                    <h4 class="card-title">@SharedLocalizer["LookForStatistics"]</h4>
                    <a asp-controller="Stat" asp-action="Index" class="btn btn-primary mt-auto">@SharedLocalizer["Show"]</a>
                </div>
            </div>
        </div>
    </div>
</div>