@model AdminsViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewBag.Title = Localizer["Title"];
}

<h1>@Localizer["Header"]</h1>
<p>
    <a asp-controller="Administration" asp-action="CreateAdmin">@SharedLocalizer["CreateNew"]</a>
</p>
<form method="get">
    <div class="mb-3">
        <label>@SharedLocalizer["Search"]: </label>
        <input name="searchString" value="@Model.FilterModel.SearchString" class="search-input" />
        <span class="input-group-btn input-space">
            <button type="submit" class="btn btn-success btn-sm">@SharedLocalizer["Search"]</button>
        </span>
        <span class="input-group-btn input-space"><a asp-action="Admins"> @SharedLocalizer["BackToFullList"]</a></span>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Admins"
                   asp-route-sortOrder="@(Model.SortModel.NameSort)"
                   asp-route-searchString="@(Model.FilterModel.SearchString)">
                   @SharedLocalizer["Name"]
                </a>
            </th>
            <th>
                <a asp-action="Admins"
                   asp-route-sortOrder="@(Model.SortModel.SurnameSort)"
                   asp-route-searchString="@(Model.FilterModel.SearchString)">
                   @SharedLocalizer["Surname"]
                </a>
            </th>
            <th>
                <a asp-action="Admins"
                   asp-route-sortOrder="@(Model.SortModel.EmailSort)"
                   asp-route-searchString="@(Model.FilterModel.SearchString)">
                   @SharedLocalizer["Email"]
                </a>
            </th>
            <th>
                <a asp-action="Admins"
                   asp-route-sortOrder="@(Model.SortModel.PhoneSort)"
                   asp-route-searchString="@(Model.FilterModel.SearchString)">
                   @SharedLocalizer["Phone"]
                </a>
            </th>
            <th>
                <a asp-action="Admins"
                   asp-route-sortOrder="@(Model.SortModel.LevelSort)"
                   asp-route-searchString="@(Model.FilterModel.SearchString)">
                   @SharedLocalizer["Level"]
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody> 
        @foreach(var admin in Model.Admins)
        {
            <tr>
                <td>
                    @admin.Name
                </td>
                <td>
                    @admin.Surname
                </td>
                <td>
                    @admin.Email
                </td>
                <td>
                    @admin.PhoneNumber
                </td>
                <td>
                    @if (admin.IsSuperAdmin)
                    {
                        <span>@SharedLocalizer["Super"]</span>
                    }
                    else
                    {
                        <span>@SharedLocalizer["Admin"]</span>
                    }
                </td>
                <td>
                    @if(ViewBag.CurrentAdmin.Id != admin.Id && !admin.IsSuperAdmin)
                    {
                        <span>
                            <a asp-action="EditAdmin" asp-route-id="@admin.Id">@SharedLocalizer["Edit"]</a> |
                            <a asp-action="DeleteAdmin" asp-route-id="@admin.Id">@SharedLocalizer["Delete"]</a>
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<page-link page-model="@(Model.PageModel)" page-action="Admins"
page-url-searchString="@(Model.FilterModel.SearchString)"
page-url-sortOrder="@(Model.SortModel.Current)"></page-link>