@model AppointmentViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewBag.Title = Localizer["Title"];
}

<div class="container">
    <div class="row mt-2">
        <div class="col-8 mx-auto">
            <h2 class="mb-3">@Localizer["Title"]</h2>
            <div class="row mb-3 border-bottom">
                <div class="col-6">
                    <p class="small text-muted mb-1">@SharedLocalizer["Doctor"]</p>
                    <p class="mb-0">
                        <a asp-controller="Doctors" asp-action="Details" asp-route-id="@Model.DoctorId">
                            @Model.Doctor
                        </a>
                    </p>
                    <p class="small text-muted mb-1">@SharedLocalizer["Specialty"]</p>
                    <p class="mb-0">@Model.DoctorSpecialty</p>
                </div>
                <div class="col-6">
                     <p class="small text-muted mb-1">@SharedLocalizer["Patient"]</p>
                     <p class="mb-0">@Model.Patient</p>
                     <p class="small text-muted mb-1">@SharedLocalizer["Date"]</p>
                     <p class="mb-0">@Model.AppointmentDate.ToShortDateString()</p>
                     <p class="small text-muted mb-1">@SharedLocalizer["Time"]</p>
                     <p class="mb-0">@Model.AppointmentDate.ToString("HH:mm")</p>
                </div>
                <p>
                    <a asp-controller="Appointments" asp-action="Print" asp-route-id="@Model.AppointmentId" class="btn btn-primary">
                        @SharedLocalizer["Print"]
                    </a>
                </p>
            </div>
            <h5>@SharedLocalizer["Diagnosis"]</h5>
            <p class="mb-1">@Model.Diagnosis</p>
            <h5>@SharedLocalizer["Prescription"]</h5>
            <p>
                <pre>@Model.Prescription</pre>
            </p>
        </div>
    </div>
</div>